Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/stamp-h1

*.o
/pe-exec
/binfmt.d/pe-format2.conf
/pe-exec.desktop
/pe-format2-setup
/pe-format2.conf
/systemd/pe-format2.path
/systemd/pe-format2.service
